no_namespace/cxml-invoiceDetail.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    For cXML license agreement information, please see
    http://www.cxml.org/home/license.asp

    $Id: //ariba/cxml/release/schema/1.2.39.1+/Modules/InvoiceDetail.mod#1 $
-->
<!--
    For more information about these elements/entities, see the 
    cXML Reference Guide and related documents.
-->
<!--
    Please note: In InvoiceDetailRequest, positive amounts are debit the
    buyer owes the supplier; negative amounts are credit given back to the
    buyer by the supplier. For example, the supplier can use a SubtotalAmount
    of -50 USD to indicate credit of 50 USD given back to the buyer.

    Please also note that all amounts at invoice line level should add up
    to the total specified in InvoiceDetailSummary.
-->
<xs:schema  xmlns:xs="http://www.w3.org/2001/XMLSchema"   xmlns:ds="http://www.w3.org/2000/09/xmldsig#" elementFormDefault="unqualified">
  <!-- Import xml: namespace -->
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"
        schemaLocation="http://www.w3.org/2001/xml.xsd" />
  <!-- Import ds: namespace -->
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="ds.xsd" />
  <xs:include schemaLocation="cxml-base.xsd"/>
  <xs:include schemaLocation="cxml-invoiceDetailLabor.xsd"/>
  
  <!--
    Defines a party involved in invoicing, including
    Issuer Of Invoice (issuerOfInvoice), Sold to (soldTo), Bill to (billTo),
    Remit to (remitTo), etc. This element should NOT be used for specifying
    ship from and ship to. For that purpose, InvoiceDetailShipping should
    be used.

    Contact
        Contact information of the invoice partner. Allowed contact
        roles include issuerOfInvoice, soldTo, billTo, remitTo.

    IdReference
        Partner reference ID, including account #, ERP account payable ID,
        ERP account receivable ID, bank routing ID for remittance, supplier
        tax ID, VAT ID, 1099 ID, court register ID, tax exemption ID, etc.
  -->
  <xs:element name="InvoicePartner">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Contact"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="IdReference"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!--
    Defines invoice header level indicators describing overall
    attributes of this invoice. By default, all indicators are false.

    isHeaderInvoice
        True if this invoice uses InvoiceDetailHeaderOrder which contains
        header level invoice information without item details; false if this
        invoice uses InvoiceDetailOrder which contains item details.

    isVatRecoverable
        True if this entire invoice is VAT-recoverable.

    isPriceBasedLineLevelCreditMemo
        True if this invoide is a price based line level credit memo which is 
        auto generated by Ariba Network due to dynamic discounting.
  -->
  <xs:element name="InvoiceDetailHeaderIndicator">
    <xs:complexType>
      <xs:attribute name="isHeaderInvoice">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="yes"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="isVatRecoverable">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="yes"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="isPriceBasedLineLevelCreditMemo">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="yes"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  
  <!--
    Defines invoice line level indicators indicating certain
    information is provided at invoice line level (in InvoiceDetailItem
    or InvoiceDetailOrderSummary). By default, all indicators are false.

    If an indicator indicates certain information (e.g. tax, shipping, etc.)
    will be provided at invoice line level, for invoice lines which do
    not provide such information, they will be assumed to have values of
    zero, or "not available", whichever is appropriate, for that information.

    isTaxInLine
        True if tax info (Tax) is provided at invoice line level.

    isSpecialHandlingInLine
        True if special handling info (InvoiceDetailLineSpecialHandling)
        is provided at invoice line level.

    isShippingInLine
        True if shipping info (InvoiceDetailLineShipping) is provided
        at invoice line level.

    isDiscountInLine
        True if discount info (InvoiceDetailDiscount) is provided
        at invoice line level.

    isAccountingInLine
        True if accounting distribution info (Distribution) is provided at
        invoice line level. If isHeaderInvoice is true, this indicator must
        be false because Distribution is only available at item level.

    isPriceAdjustmentInLine
        True if lineLevelCreditMemo or lineLevelDebitMemo have price adjustments.
  -->
  <xs:element name="InvoiceDetailLineIndicator">
    <xs:complexType>
      <xs:attribute name="isTaxInLine">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="yes"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="isSpecialHandlingInLine">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="yes"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="isShippingInLine">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="yes"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="isDiscountInLine">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="yes"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="isAccountingInLine">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="yes"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="isPriceAdjustmentInLine">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="yes"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  
  <!--
    Defines information related to an order, including order
    reference and related master agreement reference, if any.

    The various content options of InvoiceDetailOrderInfo are in order
    of preference, i.e., OrderReference is strongly recommended. If
    that is not possible, MasterAgreementReference, MasterAgreementIDInfo,
    OrderIDInfo, or SupplierOrderInfo should be used, in that order.

    OrderReference
        The reference to the order being invoiced.

    MasterAgreementReference
        The reference to the corresponding master agreement if
        the order being invoiced is a release.

    MasterAgreementIDInfo
        The buyer system id of the corresponding master agreement if
        the order being invoiced is a release.

    OrderIDInfo
        The buyer system order id of the order.

    SupplierOrderInfo
        Supplier sales order info of this order.
  -->
  <xs:element name="InvoiceDetailOrderInfo">
    <xs:complexType>
      <xs:choice>
        <xs:sequence>
          <xs:element ref="OrderReference"/>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:element ref="MasterAgreementReference"/>
            <xs:element ref="MasterAgreementIDInfo"/>
          </xs:choice>
          <xs:element minOccurs="0" maxOccurs="1" ref="SupplierOrderInfo"/>
        </xs:sequence>
        <xs:sequence>
          <xs:element ref="MasterAgreementReference"/>
          <xs:element minOccurs="0" maxOccurs="1" ref="OrderIDInfo"/>
          <xs:element minOccurs="0" maxOccurs="1" ref="SupplierOrderInfo"/>
        </xs:sequence>
        <xs:sequence>
          <xs:element ref="MasterAgreementIDInfo"/>
          <xs:element minOccurs="0" maxOccurs="1" ref="OrderIDInfo"/>
          <xs:element minOccurs="0" maxOccurs="1" ref="SupplierOrderInfo"/>
        </xs:sequence>
        <xs:sequence>
          <xs:element ref="OrderIDInfo"/>
          <xs:element minOccurs="0" maxOccurs="1" ref="SupplierOrderInfo"/>
        </xs:sequence>
        <xs:element ref="SupplierOrderInfo"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  
  <!--
    Defines the shipping information related to this invoice.

    Contact
        The ship from and ship to addresses. Both ship from and ship to
        must be specified. Allowed contact roles are shipFrom, shipTo and
        carrierCorporate.

    CarrierIdentifier
        This list may include multiple identifiers for the same carrier.
        Elements in this list may appear in any order. A particular
        identification domain (CarrierIdentifier@domain attribute
        value) must not appear more than once in an InvoiceDetailShipping
        element. The identification provided by all elements of the
        CarrierIdentifier list must correspond to the same company.

    ShipmentIdentifier
        The tracking number of this shipment or a bill of lading number,
        depending on the domain attribute.

    DocumentReference
        The reference to an earlier ShipNoticeRequest.

    shippingDate
        The date and time this shipment leaves the supplier.
  -->
  <xs:element name="InvoiceDetailShipping">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Contact"/>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="Contact"/>
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="CarrierIdentifier"/>
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="ShipmentIdentifier"/>
        </xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="DocumentReference"/>
      </xs:sequence>
      <xs:attribute name="shippingDate" type="xs:dateTime"/>
    </xs:complexType>
  </xs:element>
  
  <!--
    Defines a payment term.

    payInNumberOfDays
        The number of days after invoice date to pay in full.

    percentageRate
        Discount rate in the number of percentage for the payment
        term defined in the corresponding payInNumberOfDays.
        Positive means discount and negative means penalty.
  -->
  <xs:element name="InvoiceDetailPaymentTerm">
    <xs:complexType>
      <xs:attribute name="payInNumberOfDays" type="xs:unsignedInt" use="required"/>
      <xs:attribute name="percentageRate" type="xs:decimal" use="required"/>
    </xs:complexType>
  </xs:element>
  
  <!--
    Defines discount applied.

    Money
        The total discount in dollar (or other currency) amount.

    Distribution
        Accounting distribution information, including cost center, GL#, etc.

    percentageRate
        The discount rate in percentage.
  -->
  <xs:element name="InvoiceDetailDiscount">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Money" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Distribution" />
      </xs:sequence>
      <xs:attribute name="percentageRate" type="xs:decimal" />
    </xs:complexType>
  </xs:element>
  
  <!--
    InvoiceItemModifications represents the additional Charges and Allowances
    that are incurred for the total landed cost of the goods and service 
    contained in this invoice item.

    Modification
        provides the details of a Charge or an Allowance.
  -->
  <xs:element name="InvoiceItemModifications">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="Modification" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!--
    InvoiceHeaderModifications represents the additional Charges, Allowances 
    that are incurred for the total landed cost of the goods and services within 
    the invoice header. This value specified at the header-level is not the aggregated 
    value towards the charges or allowances available for the line items.

    Modification
        provides the details of a Charge or an Allowance.
  -->
  <xs:element name="InvoiceHeaderModifications">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="Modification" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!--
    Defines the summary information of an InvoiceDetailRequest.

    SubtotalAmount
        Sum of amount of all quantities.

    Tax
        Tax info.

    SpecialHandlingAmount
        Special handling charge.

    ShippingAmount
        Shipping charge.

    InvoiceDetailDiscount
        The total discount applied in this InvoiceDetailRequest.
        Its contained percentageRate attribute will be ignored
        if isDiscountInLine is true.

    InvoiceHeaderModifications
        the additional Charges, Allowances and their Taxes that are incurred
        for the total landed cost of the goods and services within the invoice
        header. This value specified at the header-level  is not the aggregated
        value towards the charges or allowances available for the line items.
    
    InvoiceDetailSummaryLineItemModifications
        Summary of all modifications applied on the goods and services at the line item level in an invoice.
    
    TotalCharges
        The total sum of all the charges applied on the goods and services at 
        the header-level and  line item level in an invoice.

    TotalAllowances
        The total sum of all the allowances applied on the goods and services
        at the header-level and  line item level in an invoice.

    TotalAmountWithoutTax
        The total sum of the SubTotal, Charges (including special handling charges
        and shipping charges), Allowances (including discounts) applied at the 
        header-level and  line item level in an invoice. This does not include taxes.
    
    GrossAmount
        Sum of subtotal, taxes, special handling
        charges, and shipping charges, before discounts.

    InvoiceItemModificationsTotalAmount
        represents the  sum total of all the charges, allowances, and their taxes 
        applied on the goods and services at the line item level in an invoice.

    NetAmount
        Gross amount minus discounts.

    DepositAmount
        Total deposit/prepayment amount.

    DueAmount
        Total amount due and payable. It equals NetAmount minus
        DepositAmount. If InvoiceDetailRequestHeader@purpose is
        "creditMemo" or "lineLevelCreditMemo", this amount must be
        negative. If InvoiceDetailRequestHeader@purpose is
        "debitMemo", this amount must be positive.
    
    InvoiceDetailSummaryIndustry
        Industry specific summary level data is specified in this element.

  -->
  <xs:element name="InvoiceDetailSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="SubtotalAmount" />
        <xs:element ref="Tax" />
        <xs:element minOccurs="0" maxOccurs="1" ref="SpecialHandlingAmount" />
        <xs:element minOccurs="0" maxOccurs="1" ref="ShippingAmount" />
        <xs:element minOccurs="0" maxOccurs="1" ref="GrossAmount" />
        <xs:element minOccurs="0" maxOccurs="1" ref="InvoiceDetailDiscount" />
        <xs:element minOccurs="0" maxOccurs="1" ref="InvoiceHeaderModifications" />
        <xs:element minOccurs="0" maxOccurs="1" ref="InvoiceDetailSummaryLineItemModifications" />
        <xs:element minOccurs="0" maxOccurs="1" ref="TotalCharges" />
        <xs:element minOccurs="0" maxOccurs="1" ref="TotalAllowances" />
        <xs:element minOccurs="0" maxOccurs="1" ref="TotalAmountWithoutTax" />
        <xs:element ref="NetAmount" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DepositAmount" />
        <xs:element minOccurs="0" maxOccurs="1" ref="DueAmount" />
        <xs:element minOccurs="0" maxOccurs="1" ref="InvoiceDetailSummaryIndustry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!--
    Defines all references related to a line item in this invoice.

    ItemID
        The supplier part number of current line item, copied from
        OrderRequest.

    Description
        The line item description, copied from OrderRequest.

    Classification
        The classification code for of the line item.

    ManufacturerPartID
        The manufacturer part number.

    ManufacturerName
        The name of the manufacturer.

    Country
        The country of origin of the current line item.

    SerialNumber
        Defines one or more serial numbers for accountable items that
        are being invoiced. If serial numbers are being reported, then
        the number of serial numbers should match the invoice
        quantity. The specification does not enforce this. Rather, it
        is the responsibility of buyer and supplier implementers to
        validate this count if appropriate. SerialNumber should be
        used instead of the InvoiceDetailItemReference@serialNumber
        attribute, which is now deprecated. It is not valid to use
        both the attribute and the SerialNumber element.

   
SupplierBatchID
        Batch ID is assigned to material that is manufactured in batches or production lots to a   
        specific batch number.

    InvoiceDetailItemReferenceIndustry
        Industry specific item detail data is specified in this element.

    lineNumber
        The line number of current line item, copied from OrderRequest.

    serialNumber
        The product serial number for the current line item. This
        attribute is deprecated; the SerialNumber element should be
        used instead.

  -->
  <xs:element name="InvoiceDetailItemReference">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="ItemID"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="Description"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Classification"/>
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element ref="ManufacturerPartID"/>
          <xs:element ref="ManufacturerName"/>
        </xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="Country"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="SerialNumber"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="SupplierBatchID"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="InvoiceDetailItemReferenceIndustry"/>
      </xs:sequence>
      <xs:attribute name="lineNumber" type="xs:unsignedInt" use="required"/>
      <xs:attribute name="serialNumber" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  
  <!--
    Defines all references related to a service line item in this invoice.

    Classification
        The classification information of the service.

    ItemID
        The supplier part number of the service.

    Description
        The description of the service.

    lineNumber
        The line number of current line item on the master
        agreement. It is required if the item being invoiced is part
        of a detailed master agreement that specifies detailed pricing
        terms at the line item or commodity level. It is optional if
        the item being invoiced is part of a master supplier agreement
        or blanket purchase order which do not contain detailed line
        item pricing information.
  -->
  <xs:element name="InvoiceDetailServiceItemReference">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Classification"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="ItemID"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="Description"/>
      </xs:sequence>
      <xs:attribute name="lineNumber" type="xs:unsignedInt"/>
    </xs:complexType>
  </xs:element>
  
  <!--
    The ServiceEntryItemReference element provides a clear reference to the line item
    in a prior ServiceEntryRequest document.

    DocumentReference
        The reference to a prior ServiceEntryRequest.

    serviceLineNumber
        The line number of current line item, copied from ServiceEntryRequest.

    serviceEntryID
        The id of a service entry sheet known to the buyer system. Basically, what
        the service entry sheet number is today.

    serviceEntryDate
        The date and time the service entry sheet was created. If present, must be copied
        directly from the referenced ServiceEntryRequest document's ServiceEntryRequestHeader.
  -->
  <xs:element name="ServiceEntryItemReference">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="DocumentReference"/>
      </xs:sequence>
      <xs:attribute name="serviceLineNumber" type="xs:unsignedInt" use="required"/>
      <xs:attribute name="serviceEntryID" type="xs:string" />
      <xs:attribute name="serviceEntryDate" type="xs:dateTime"/>
    </xs:complexType>
  </xs:element>
  
  <!--
    The ServiceEntryItemIDInfo element provides a clear reference to the line item
    in a prior ServiceEntryRequest document.

    serviceLineNumber
        The line number of current line item, copied from ServiceEntryRequest.

    serviceEntryID
       The id of a service entry sheet known to the buyer system. Basically, what
       the service entry sheet number is today.

    serviceEntryDate
        The date and time the service entry sheet was created. If present, must be copied
        directly from the referenced ServiceEntryRequest document's ServiceEntryRequestHeader.
  -->
  <xs:element name="ServiceEntryItemIDInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="IdReference"/>
      </xs:sequence>
      <xs:attribute name="serviceLineNumber" type="xs:unsignedInt" use="required"/>
      <xs:attribute name="serviceEntryID" type="xs:string" use="required" />
      <xs:attribute name="serviceEntryDate" type="xs:dateTime"/>
    </xs:complexType>
  </xs:element>
  
  <!--
    Defines special handling information of the current invoice line.

    Description
        Textual description of the special handling.

    Money
        The special handling amount.

    Distribution
        Accounting distribution information, including cost center, GL#, etc.
  -->
  <xs:element name="InvoiceDetailLineSpecialHandling">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="Description" />
        <xs:element ref="Money" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Distribution" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!--
    Defines shipping information of the current invoice line.

    InvoiceDetailShipping
        The shipping details.

    Money
        The shipping amount.

    Distribution
        Accounting distribution information, including cost center, GL#, etc.
  -->
  <xs:element name="InvoiceDetailLineShipping">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="InvoiceDetailShipping" />
        <xs:element ref="Money" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Distribution" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!--
    Defines a line item in the InvoiceDetailRequest.

    UnitOfMeasure
        The unit of measure.

    UnitPrice
        The unit price.

    InvoiceDetailItemReference
        The references related to this line item.
    
    ReceiptLineItemReference
        The reference to the receipt line related to this line item.
    
    ShipNoticeLineItemReference
        The reference to the ship notice line related to this line item.

    ServiceEntryItemReference
        The clear reference to the line item in a prior ServiceEntryRequest document.

    ServiceEntryItemIDInfo
        The clear reference to the line item in a prior ServiceEntryRequest document.

    ProductMovementItemIDInfo
        Movement line item from a consignment movement document that is invoiced

    SubtotalAmount
        The invoice subtotal of the current item = unit price x
        invoiced quantity.

    Tax
        The tax info for this line item. It will be ignored if isTaxInLine
        is false.

    InvoiceDetailLineSpecialHandling
        The special handling info for this line item. It will be ignored
        if isSpecialHandlingInLine is false.

    InvoiceDetailLineShipping
        The shipping info for this line item. It will be ignored if
        isShippingInLine is false.


    ShipNoticeIDInfo
       References shipment related document identifiers.

    GrossAmount
        The SubtotalAmount plus taxes, shipping, and special handling
        charges.

    InvoiceDetailDiscount
        The discount info for this line item. It will be ignored if
        isDiscountInLine is false.

    InvoiceItemModifications
        the additional Charges, Allowances and their Taxes that are 
        incurred for the total landed cost of the goods and service 
        contained in this invoice item.

    TotalCharges
        The total sum of all the charges applied on the goods and 
        services at the line item level in an invoice.

    TotalAllowances
        The total sum of all the allowances applied on the goods and
        services at the line item level in an invoice.

    TotalAmountWithoutTax
        The total sum of the SubTotal, Charges (including special handling
        charges and shipping charges), Allowances (including discounts) 
        applied at the line item level in an invoice. This does not include taxes.
    
    NetAmount
        The GrossAmount minus discount amount.

    Distribution
        Accounting distribution information, including cost center, GL#, etc.
        It will be ignored if isAccountingInLine is false.

    

    Packaging
       Details about the packaging of this invoiced item.

    InvoiceDetailItemIndustry
        Industry specific line item detail data is specified in this element.

    Comments
        Textual comments for this line item.

    CustomsInfo
        Defines specific customs information data for this invoice item, this complementary information applies for imported invoice items.

    Extrinsic
        Additional information related to this line item. Should not
        duplicate anything in InvoiceDetailItem or InvoiceDetailOrder.

    invoiceLineNumber
        Supplier defined ID for the current invoice line. It should be
        unique across all invoice lines of the same InvoiceDetailRequest.

    quantity
        The quantity being actually invoiced for the current line
        item.

   referenceDate
        The reference date for the blanket order or contract item. This may indicate
        the date for which the line item is being invoiced.
        A use case is for seasonal items that vary the prices per period.

    inspectionDate
        The date when transfer of goods or delivery of services
        occurs. (Japanese law requires this.)

    parentInvoiceLineNumber 
    The ID for the parent invoice line of the current invoice line.

    itemType 
    specify whether the line item contains child line items or acts as a child item
    
    compositeItemType
    specify type of parent line item(lot/box)
    
    reason
        The (optional) reason associated with "lineLevelCreditMemo" purpose.
        This reason is only used for line level credit memo, but it will be using for 
        other purposes including standard invoice. 
        Valid value:
            "return": is only valid for "lineLevelCreditMemo" purpose 
            associated to return items.

    isAdHoc
        Indicates the item does not exist in the reference document or contract master agreement.
  -->
  <xs:element name="InvoiceDetailItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="UnitOfMeasure"/>
        <xs:element ref="UnitPrice"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="PriceBasisQuantity"/>
        <xs:element ref="InvoiceDetailItemReference"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="ReceiptLineItemReference"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="ShipNoticeLineItemReference"/>
        <xs:choice minOccurs="0" maxOccurs="1">
          <xs:element ref="ServiceEntryItemReference"/>
          <xs:element ref="ServiceEntryItemIDInfo"/>
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" ref="ProductMovementItemIDInfo"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="SubtotalAmount"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="Tax"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="InvoiceDetailLineSpecialHandling"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="InvoiceDetailLineShipping"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="ShipNoticeIDInfo"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="GrossAmount"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="InvoiceDetailDiscount"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="InvoiceItemModifications"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="TotalCharges"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="TotalAllowances"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="TotalAmountWithoutTax"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="NetAmount"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Distribution"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Packaging"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="InvoiceDetailItemIndustry"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="Comments"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="CustomsInfo"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Extrinsic"/>
      </xs:sequence>
      <xs:attribute name="invoiceLineNumber" type="xs:unsignedInt" use="required"/>
      <xs:attribute name="quantity" type="xs:decimal" use="required"/>
      <xs:attribute name="referenceDate" type="xs:dateTime"/>
      <xs:attribute name="inspectionDate" type="xs:dateTime"/>
      <xs:attribute name="parentInvoiceLineNumber" type="xs:unsignedInt"/>
      <xs:attribute name="itemType" type="lineItemType"/>
      <xs:attribute name="compositeItemType" type="compositeItemType"/>
      <xs:attribute name="reason">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="return"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="isAdHoc">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="yes"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  
  <!--
    Defines a service line item in the InvoiceDetailRequest.

    InvoiceDetailServiceItemReference
        The references related to this line item.

    ServiceEntryItemReference
        The clear reference to the line item in a prior ServiceEntryRequest document.

    ServiceEntryItemIDInfo
        The clear reference to the line item in a prior ServiceEntryRequest document.

    SubtotalAmount
        The invoice subtotal of the current service item. If unit price
        and invoiced quantity are specified, then subtotal should be
        equal to the product of them.

    Period
        The period during which the service was rendered.

    UnitRate
        The rate at which service item is charged.
        Use of the UnitRate element is recommended over the plain (UnitOfMeasure, UnitPrice) pair, 
        as the UnitRate element includes the rate code. For some services like temp labor services     
        UnitRate is required.

    UnitOfMeasure (deprecated)
        The unit of measure. For ex: HUR (per hour), MON (per month), etc. Use of
      UnitRate is recommended over use of this element.

    UnitPrice (deprecated)
        The unit price if any. Use of UnitRate is recommended over use 
      of this element.

    Tax
        The tax info for this line item. It will be ignored if isTaxInLine
        is false.

    GrossAmount
        The SubtotalAmount plus taxes, shipping, and special handling
        charges.

    InvoiceDetailDiscount
        The discount info for this line item. It will be ignored if
        isDiscountInLine is false.

    InvoiceItemModifications
        the additional Charges, Allowances and their Taxes that are 
        incurred for the total landed cost of the goods and service 
        contained in this invoice item.

    TotalCharges
        The total sum of all the charges applied on the goods and 
        services at the line item level in an invoice.

    TotalAllowances
        The total sum of all the allowances applied on the goods and
        services at the line item level in an invoice.

    TotalAmountWithoutTax
        The total sum of the SubTotal, Charges (including special handling
        charges and shipping charges), Allowances (including discounts) 
        applied at the line item level in an invoice. This does not include taxes.
    
    NetAmount
        The GrossAmount minus discount amount.

    Distribution
        Accounting distribution information, including cost center, GL#, etc.
        It will be ignored if isAccountingInLine is false.

    Comments
        Textual comments for this line item.

    (InvoiceLaborDetail | ...)
        Additonal details for a particular type of spend category will be specified here.
        For example, for timecard related(temp labor) services, extra info like the 
        TimeCard document reference, Contractor etc. can be specified.
    
    Extrinsic
        Additional information related to this line item. Should not duplicate
        anything in InvoiceDetailItem or InvoiceDetailOrder. Other line item related
        attributes such as "union/non-union" should be specified in 
        extrinsic elements.

    invoiceLineNumber
        Supplier defined ID for the current invoice line. It should be
        unique across all invoice lines of the same InvoiceDetailRequest.

    quantity
        The quantity being actually invoiced for the current line item. For regular
        service items, quantity represents the number of units of service rendered.
        For example, 2 hrs of lawn mowing service, where UnitOfMeasure is "HUR" and
        quantity is "2". For some services items, such as a milestone,
    quantity is optional. It is required if UnitPrice is specified.

    referenceDate
        The reference date for the service item. This may indicate the date at which
        the service line item is being invoiced.

    inspectionDate
        Refer to inspectionDate in InvoiceDetailItem.

    isAdHoc
        Indicates the item does not exist in the reference document or contract master agreement.
  -->
  <xs:element name="InvoiceDetailServiceItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="InvoiceDetailServiceItemReference"/>
        <xs:choice minOccurs="0" maxOccurs="1">
          <xs:element ref="ServiceEntryItemReference"/>
          <xs:element ref="ServiceEntryItemIDInfo"/>
        </xs:choice>
        <xs:element ref="SubtotalAmount"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="Period"/>
        <xs:choice minOccurs="0" maxOccurs="1">
          <xs:element ref="UnitRate"/>
          <xs:sequence>
            <xs:element ref="UnitOfMeasure"/>
            <xs:element ref="UnitPrice"/>
            <xs:element minOccurs="0" maxOccurs="1" ref="PriceBasisQuantity"/>
          </xs:sequence>
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" ref="Tax"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="GrossAmount"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="InvoiceDetailDiscount"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="InvoiceItemModifications"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="TotalCharges"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="TotalAllowances"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="TotalAmountWithoutTax"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="NetAmount"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Distribution"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="Comments"/>
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element ref="InvoiceLaborDetail"/>
        </xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Extrinsic"/>
      </xs:sequence>
      <xs:attribute name="invoiceLineNumber" type="xs:unsignedInt" use="required"/>
      <xs:attribute name="quantity" type="xs:decimal"/>
      <xs:attribute name="referenceDate" type="xs:dateTime"/>
      <xs:attribute name="inspectionDate" type="xs:dateTime"/>
      <xs:attribute name="parentInvoiceLineNumber" type="xs:unsignedInt"/>
      <xs:attribute name="itemType" type="lineItemType"/>
      <xs:attribute name="isAdHoc">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="yes"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  
  <!--
    Defines header level summary info of an order or master agreement in an invoice
    line.

    SubtotalAmount
        The invoice subtotal of this order or master agreement.

    Period
        The period during which the service was rendered. It should only be used for
        header level summary info for services, and it does not apply to goods.

    Tax
        The tax info for this order or master agreement. It will be ignored if
        isTaxInLine is false.

    InvoiceDetailLineSpecialHandling
        The special handling info for this order or master agreement. It will be
        ignored if isSpecialHandlingInLine is false. It should only be used for
        header level summary info for goods, and it does not apply to services.

    InvoiceDetailLineShipping
        The shipping info for this order. It will be ignored if isShippingInLine is
        false. It should only be used for header level summary info for goods, and
        it does not apply to services.

    GrossAmount
        The SubtotalAmount plus taxes, shipping, and special handling
        charges.

    InvoiceDetailDiscount
        The discount info for this order. It will be ignored if
        isDiscountInLine is false.

    NetAmount
        The GrossAmount minus discount amount.

    Comments
        Textual comments for this line item.

    Extrinsic
        Additional information related to this line item. Should not
        duplicate anything in InvoiceDetailOrderSummary or
        InvoiceDetailHeaderOrder.

    invoiceLineNumber
        Supplier defined ID for the current invoice line. It should be
        unique across all invoice lines of the same InvoiceDetailRequest.

    inspectionDate
        Refer to inspectionDate in InvoiceDetailItem.
  -->
  <xs:element name="InvoiceDetailOrderSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="SubtotalAmount" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Period" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Tax" />
        <xs:element minOccurs="0" maxOccurs="1" ref="InvoiceDetailLineSpecialHandling" />
        <xs:element minOccurs="0" maxOccurs="1" ref="InvoiceDetailLineShipping" />
        <xs:element minOccurs="0" maxOccurs="1" ref="GrossAmount" />
        <xs:element minOccurs="0" maxOccurs="1" ref="InvoiceDetailDiscount" />
        <xs:element minOccurs="0" maxOccurs="1" ref="NetAmount" />
        <xs:element minOccurs="0" maxOccurs="1" ref="Comments" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Extrinsic" />
      </xs:sequence>
      <xs:attribute name="invoiceLineNumber" type="xs:unsignedInt" use="required" />
      <xs:attribute name="inspectionDate" type="xs:dateTime" />
    </xs:complexType>
  </xs:element>
  
  <!--
    Defines the header invoice information of an order without item details,
    used ONLY when isHeaderInvoice is true.

    In this case, an invoice line is an InvoiceDetailHeaderOrder
    and its invoice line number is InvoiceDetailHeaderOrder/
    InvoiceDetailOrderSummary@invoiceLineNumber.

    InvoiceDetailOrderInfo
        The reference information of the order.

    InvoiceDetailOrderSummary
        The header level invoice info of the order.
  -->
  <xs:element name="InvoiceDetailHeaderOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="InvoiceDetailOrderInfo" />
        <xs:element ref="InvoiceDetailOrderSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!--
    Defines the invoice information of an order or master agreement with item details,
    used ONLY when isHeaderInvoice is false.

    In this case, an invoice line is an InvoiceDetailItem and its invoice
    line number is InvoiceDetailItem@invoiceLineNumber.

    InvoiceDetailOrderInfo
        The reference information of the order or master agreement.

    InvoiceDetailReceiptInfo
        The reference information of the receipt.

    InvoiceDetailShipNoticeInfo
        The reference information of the ship notice.

    InvoiceDetailItem
        The information of an item in the order.

    InvoiceDetailServiceItem
        The information of a service item in the master agreement.
  -->
  <xs:element name="InvoiceDetailOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="InvoiceDetailOrderInfo"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="InvoiceDetailReceiptInfo"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="InvoiceDetailShipNoticeInfo"/>
        <xs:choice minOccurs="1" maxOccurs="unbounded">
          <xs:element ref="InvoiceDetailItem"/>
          <xs:element ref="InvoiceDetailServiceItem"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!--
    Defines the header information of an InvoiceDetailRequest.

    InvoiceDetailHeaderIndicator
        Header level indicators describing overall attributes of this
        invoice.

    InvoiceDetailLineIndicator
        Header level indicators indicating certain information is
        provided at invoice line level (in InvoiceDetailItem or
        InvoiceDetailOrderSummary).

    InvoicePartner
        All partners invoiced in invoicing, including Sold to,
        Bill to, Remit to, Issuer of Invoice, etc.

    DocumentReference
        Reference to an earlier InvoiceDetailRequest. If the
        attribute InvoiceDetailRequestHeader@operation is "delete",
        the DocumentReference is required and it must reference the
        original InvoiceDetailRequest document (with value "new" for
        its attribute InvoiceDetailRequestHeader@operation) during the
        same invoicing process. If the attribute
        InvoiceDetailRequestHeader@purpose is "lineLevelCreditMemo",
        the DocumentReference is required and must identify the
        original invoice against which the credit is applied. In all
        other situations, the DocumentReference is optional and, if it
        is provided, it must reference the InvoiceDetailRequest which
        is related to the current InvoiceDetailRequest.

    InvoiceIDInfo
        Reference to an earlier InvoiceDetailRequest. If both
        DocumentReference and InvoiceIDInfo are provided, they must
        refer to the same invoice.

    PaymentProposalIDInfo
        Reference to an earlier PaymentProposalRequest.
        In case of priceBasedLineLevelCreditMemo, this element will be populated. 

    InvoiceDetailShipping
        The shipping details of this invoice. It will be ignored if
        isShippingInLine is true.


    ShipNoticeIDInfo
       References shipment related document identifiers.

    InvoiceDetailPaymentTerm
        This is an older, deprecated way to define payment terms for this invoice.
        Use PaymentTerm instead.

    PaymentTerm
        This defines the payment terms for this invoice.

    Period
        The total period during which all the services (specified in this invoice)
        were rendered. This does not imply anything about the Period at the
        line level. 

    Comments
        Textual comments for this invoice.

    Extrinsic
        Additional information related to this invoice. Should not
        duplicate anything in InvoiceDetailRequestHeader or
        InvoiceDetailRequest.
        For service related invoice, header level service extrinsics such 
        as "serviceLocation" can be specified here as follows.
        <Extrinsic name="serviceLocation">
            <Contact role="serviceLocation">
                <Name>XYZ Inc</Name>
                <PostalAddress>
                    <Street>123 Easy St</Street>
                    <City>Sunnyvale</City>
                    <State>California</State>
                    <PostalCode>94089</PostalCode>
                    <Country isoCountryCode="US">USA</Country>
                </PostalAddress>
            </Contact>
        </Extrinsic>

    invoiceID
        A supplier-generated identifier for this Invoice. Identical to the
        Invoice Number which appears at the top of a physical Invoice.

    isInformationOnly
        True if this document is for buyer's information only (i.e. no action
        needs to be taken by the buyer). False if the buyer needs to take
        action upon receiving this document (e.g. submit payment or accept
        credit). By default, it is false.

    purpose
        The purpose of this invoice:
        standard - This invoice is a standard billing statement from the
            supplier to the buyer.
        creditMemo - This invoice is a credit memo for giving credit back
            to the buyer by the supplier. In this case, the attribute
            InvoiceDetailHeaderIndicator@isHeaderInvoice must be true.
            Also, the element InvoiceDetailSummary/DueAmount must be
            a negative amount.
        debitMemo - This invoice is a debit memo for billing a balance
            owed by the buyer to the supplier. In this case, the attribute
            InvoiceDetailHeaderIndicator@isHeaderInvoice must be true.
            Also, the element InvoiceDetailSummary/DueAmount must be
            a positive amount.
        lineLevelCreditMemo - This invoice is a line item level credit memo 
            for giving credit back to the buyer by the supplier. In this 
            case, the attribute InvoiceDetailHeaderIndicator@isHeaderInvoice 
            is false. All the line item amounts and hence the 
            InvoiceDetailSummary/DueAmount must be a negative amount.
        lineLevelDebitMemo - This invoice is a line item level debit memo 
            billing a balance owed by the buyer to the supplier. 

        By default, it is "standard".

    operation
        How this document is acting on the invoice:
        new - This document creates a new invoice.
        delete - This document cancels an existing invoice. That existing
            invoice must be specified as DocumentReference.
        By default, it is "new".

    invoiceDate
        Date and time this Invoice was created (should be earlier than the
        document's timestamp).

    invoiceOrigin
        Indicates whether the invoice originated from the Buyer or Supplier. 

    IdReference
        Internal Reference Number/Supplier Reference Number can be one of the following
                Internal supplier number - This is the most common scenario; it represents the document number created by the internal supplier ERP system.
                Contract - The contract number can be used to identify that a specific outbound document is related to a specific contract.
                Internal criteria - Sometimes the supplier can enter a customized value in the field Supplier Reference Number. Example: It can be the name of the person in charge of the follow-up of the transaction.
  -->
  <xs:element name="InvoiceDetailRequestHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="InvoiceDetailHeaderIndicator"/>
        <xs:element ref="InvoiceDetailLineIndicator"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="InvoicePartner"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="DocumentReference"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="InvoiceIDInfo"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="PaymentProposalIDInfo"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="InvoiceDetailShipping"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="ShipNoticeIDInfo"/>
        <xs:choice>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="InvoiceDetailPaymentTerm"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="PaymentTerm"/>
        </xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" ref="Period"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="Comments"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="IdReference"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Extrinsic"/>
      </xs:sequence>
      <xs:attribute name="invoiceID" type="xs:string" use="required"/>
      <xs:attribute name="isInformationOnly">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="yes"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="purpose" default="standard">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="standard"/>
            <xs:enumeration value="creditMemo"/>
            <xs:enumeration value="debitMemo"/>
            <xs:enumeration value="lineLevelCreditMemo"/>
            <xs:enumeration value="lineLevelDebitMemo"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="operation" default="new">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="new"/>
            <xs:enumeration value="delete"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="invoiceDate" type="xs:dateTime" use="required"/>
      <xs:attribute name="invoiceOrigin">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="supplier"/>
            <xs:enumeration value="buyer"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="isERS">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="yes"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  
  <!--
    InvoiceDetailRequest

    Transmits a invoice request to a buyer. Provides order
    references, line item references, partners involved, accounting
    distribution, discount terms, shipping and special handling, applicable
    taxes, deposit and payment, contact and remittance information, etc.

    Suppliers can use InvoiceDetailRequest to send invoice for any
    portion of all or selected line items from single or multiple
    orders. They can also use InvoiceDetailRequest to send cancel invoice
    (InvoiceDetailRequestHeader@operation is "delete"), credit memo,
    debit memo, or receipt (InvoiceDetailRequestHeader@isInformationOnly is
    "yes").

    This document must be sent to the location specified in the buyer's
    ProfileResponse.

    InvoiceDetailRequestHeader
        The header information of this invoice.

    InvoiceDetailOrder
        The invoice information of an order with item details, used ONLY
        when isHeaderInvoice is false.

    InvoiceDetailHeaderOrder
        The header invoice information of an order without item details,
        used ONLY when isHeaderInvoice is true.

    InvoiceDetailSummary
        The summary information of this invoice.
  -->
  <xs:element name="InvoiceDetailRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="InvoiceDetailRequestHeader"/>
        <xs:choice>
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="InvoiceDetailOrder"/>
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="InvoiceDetailHeaderOrder"/>
        </xs:choice>
        <xs:element ref="InvoiceDetailSummary"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
   
  <!-- Specifies the retail industry specific data for InvoiceDetailSummary element -->
  <xs:element name="InvoiceDetailSummaryRetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="AdditionalAmounts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!-- Specifies the various industries specific data for InvoiceDetailSummary element -->
  <xs:element name="InvoiceDetailSummaryIndustry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="InvoiceDetailSummaryRetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!-- Defines the retail industry specific data for InvoiceDetailItemReference element 
         EANID
    Deprecated, use '<IdReference domain="EAN-13">' within 'ItemID' instead.
    Number assigned to a manufacturer's product according to the International Article Numbering Association for substitution of an article. 
    This is a world-wide largest and most standardized article catalogue in retail and CPG
         EuropeanWasteCatalogID
    European Waste Catalogue is a unique ID for articles listed in the EU Waste Catalogue (EWC). It requires special handling
         Characteristic
              Defines Product Characteristics like size, color, grade etc.
  -->
  <xs:element name="InvoiceDetailItemReferenceRetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="EANID"/>
        <xs:element minOccurs="0" maxOccurs="1" ref="EuropeanWasteCatalogID"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Characteristic"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!-- Defines the various industries specific categories for InvoiceDetailReferenceItem element -->
  <xs:element name="InvoiceDetailItemReferenceIndustry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="InvoiceDetailItemReferenceRetail"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!-- Defines the retail industry specific data for InvoiceDetailItem element 
        AdditionalPrices
              Retail industry specific item level additional prices
       TotalRetailAmount
              Total retail amount at the item detail level
         ItemIndicator
              Product/item level indicators
         PromotionDealID
    Number assigned by a supplier to a special promotion activity. Promotions affect the forward planning/ordering process (and the related pricing) 
         PromotionVariantID
    The item number is a promotional variant number. Used when only one or some variants of an article are promoted
         
  -->
  <xs:element name="InvoiceDetailItemRetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="AdditionalPrices" />
        <xs:element minOccurs="0" maxOccurs="1" ref="TotalRetailAmount" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ItemIndicator" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PromotionDealID" />
        <xs:element minOccurs="0" maxOccurs="1" ref="PromotionVariantID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!-- Defines the various industries specific categories for InvoiceDetailItem element -->
  <xs:element name="InvoiceDetailItemIndustry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="InvoiceDetailItemRetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!--
    Defines customs reference as complementary information when the item is imported.
        
    Issuer
        The information of the issuer related to the imported item.
    
    DocumentInfo
        The information of the document related to the imported item.
  -->
  <xs:element name="CustomsInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Issuer" />
        <xs:element ref="DocumentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!--
    The ReceiptLineItemReference element provides a clear 
    reference to the line item  in a prior ReceiptRequest document.

    receiptLineNumber
        The line number of current line item, copied from ReceiptRequest. 
  -->
  <xs:element name="ReceiptLineItemReference">
    <xs:complexType>
      <xs:attribute name="receiptLineNumber" type="xs:unsignedInt" use="required"/>
    </xs:complexType>
  </xs:element>
  
  <!--
    Defines information related to an receipt

    The various content options of InvoiceDetailReceiptInfo are in order
    of preference, i.e., ReceiptReference is strongly recommended. If
    that is not possible ReceiptIDInfo should be used, in that order.

    ReceiptReference
        The reference to the receipt being invoiced.

    ReceiptIDInfo
        The buyer system receipt id of the receipt.
  -->
  <xs:element name="InvoiceDetailReceiptInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ReceiptReference"/>
        <xs:element ref="ReceiptIDInfo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!--
    Defines information related to a ship notice

    The various content options of ShipNoticeDetailReceiptInfo are in order
    of preference, i.e., ShipNoticeReference is strongly recommended. If
    that is not possible ShipNoticeIDInfo should be used, in that order.

    ShipNoticeReference
        The reference to the ship notice being invoiced.

    ShipNoticeIDInfo
        The buyer system ship notice id of the receipt.
  -->
  <xs:element name="InvoiceDetailShipNoticeInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ShipNoticeReference"/>
        <xs:element ref="ShipNoticeIDInfo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!--
    Defines information related to a summary of line modifications(allowances/charges) in Invoice.

    Modification
        Summary of one modification.
  --> 
  <xs:element name="InvoiceDetailSummaryLineItemModifications">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="Modification" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
 
</xs:schema>